---
layout: default
---
<!-- INTRO -->
<div>
  <h1>Brandon Wu</h1>
  <p>Hello there! I'm Brandon, a first year at Yale University.</p>
</div>

<div>
  <img id = "headshot" src="{{ 'assets/img/headshot-img.jpg' | relative_url }}">
</div>

<!-- ABOUT ME -->
<div>
  <h1>About me</h1>
  <ul>
    <li>my current interests are at the intersections of neuroscience, cs, and philosophy</li>
    <li>i enjoy reading poetry, spending time with friends, and taking long bike rides</li>
    <li>i hope to one day backpack across europe with my friends</li>
    <li>my favorite read: when breathe becomes air by paul kalanithi</li>
    <li>want to see the beautiful faces of my friends? check <a class = "link_effect" href="https://brandonlwu.github.io/play2020/">this</a> out!</li>
  </ul>
</div>

<!-- BLOG -->
<div>
  <h1>Snapshots of my life</h1>
  <div class = "thoughts">
    {% for post in site.categories.thoughts %}
      <a href="{{ post.url | relative_url }}"> <div class = "box"><div class = "box-content">{{ post.date | date: "%-m/%-d/%y" }}</div></div></a>
    {% endfor %}
  </div>
  <div class = "spacer"></div>
  <div class = "spacer"></div>
</div>
